@page "/"
@using TralaAI.Website.Services
@inject IExampleService _exampleService

<PageTitle>Home</PageTitle>

<h1>@result</h1>

Welcome to your new app.

@code {
  private string result = string.Empty;
  protected override void OnInitialized()
  {
    result = _exampleService.GetGreeting("Jeroen");
  }
}